*, html, body{
   font-family: "Work Sans", serif;
     -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #071D26;
    font-style: normal;
}

html,body{
    overflow-x: hidden;
}

:root {
  --black: #00070E;
  --green: #18D9F1;
  --gray: #f3f3f3;
  --lightblue: #3089F7;
  --gredient-bg:linear-gradient(90deg, rgba(76,31,254,1) 0%, rgba(48,132,247,1) 48%, rgba(21,227,240,1) 100%);
}

p, h1, h2, h3, h4, h5, h5, h6, ul, li{
    padding: 0;
    margin: 0;
/*    list-style-type: none;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.text-dark{
    color: var(--black)!important;
}

p{
    font-size: 18px;
    color: #5E5F61;
    font-weight: 400;
}

h3 {
    font-size: 38px;
    color: #00070E;
    margin: 20px 0;
    line-height: 30px;
    font-weight: 700;
}

h2{
    font-size: 48px;
    font-weight: 700;
}


h4{
    font-size: 24px;
    color: #00070E;
}

h4.heading {
    font-size: 24px;
    background: linear-gradient(90deg, rgba(76,31,254,1) 0%, rgba(21,227,240,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
}

.section-padding{
    padding: 100px 0;
}


img{
    display: block;
    max-width: 100%;
}

a{
    color: #0D9DDA;
    font-size: 18px;
    text-decoration: none;

}

a:hover{
    color: #111111;
    text-decoration: none;
}

/*--Button css--*/
.btn {
	border: 0px;
	padding: 10px 35px;
	font-size: 18px;
	color: #fff;	
	font-weight: 500;
	border-radius: 70px;
    transition: all ease-in-out 0.3s;
}
.btn-primary {
    background: -moz-linear-gradient(90deg, rgba(76,31,254,1) 0%, rgba(48,132,247,1) 48%, rgba(21,227,240,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,48,255,1) 0%, rgba(176,4,255,1) 75%, rgba(227,23,238,1) 100%);
    background: var(--gredient-bg);
}
.btn-primary:hover{
    background: rgb(16,118,164);
    background: -moz-linear-gradient(90deg, rgba(227,23,238,1) 0%, rgba(176,4,255,1) 75%, rgba(0,48,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(227,23,238,1) 0%, rgba(176,4,255,1) 75%, rgba(0,48,255,1) 100%);
    background: linear-gradient(90deg, rgba(227,23,238,1) 0%, rgba(176,4,255,1) 75%, rgba(0,48,255,1) 100%);
}
.btn-outline-primary {
	border: 1px solid #fff;
}
.btn-outline-primary:hover{
    border-color: rgb(16,118,164);
    background: rgb(16,118,164);
    background: -moz-linear-gradient(90deg, rgba(227,23,238,1) 0%, rgba(176,4,255,1) 75%, rgba(0,48,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(227,23,238,1) 0%, rgba(176,4,255,1) 75%, rgba(0,48,255,1) 100%);
    background: linear-gradient(90deg, rgba(227,23,238,1) 0%, rgba(176,4,255,1) 75%, rgba(0,48,255,1) 100%);
}

.btn:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
    transform: scale(.92);
}




/*-- header section start here--*/

.header {
    background: var(--black);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 7px 0;
}

.header.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.comp-logo {
	padding: 0;
	max-width: 26%;
}
.header.sticky .comp-logo{
    max-width: 16%;
}

/*--Navbar--*/
.header .navbar .navbar-nav li{
    padding: 0 10px;
}

.header .navbar .navbar-nav li .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}


/*=== banner ===*/

.banner {
    background: url('../images/banner-bg.png') no-repeat;
    background-size: cover;
    padding: 120px 0 150px 0;
    margin-top: 70px;
}

.banner .badge{
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .20);
    padding: 10px 30px;
    border-radius: 30px;
}

.badge h4 {
    font-size: 18px;
    font-weight: 500!important;
}

.banner p{
    padding: 10px 0 40px 0;
}

.banner .subtitle{
    font-weight: 900;
    color: var(--dark);
    margin:30px 0 20px 0;
}

.statix-main{
    display: flex;
    margin-top: 60px;
}


.statix-box {
    background: #F3F3F3;
    border-radius: 8px;
    padding: 52px 30px;
    display: grid;
    place-items: center;
}


.statix-box .img {
    padding: 17px;
    background: #E5E5E5;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statix-box h4{
    margin-top: 20px;
    font-weight: 400;
}

h1{
    font-size: 62px;
    font-weight: 700;
    color: var(--black);
}

h1 span{
    color: var(--green);
}

.civil-main{
    margin-top: 50px;
}

.civil-box {
    border-radius: 13px;
    background: #E1ECF5;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:23px;
}

.civil-box .img {
    background: #E1ECF5;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #B6CCE1;
    display: grid;
    place-items: center;
    margin-top: -55px;
}

.civil-box h4{
    margin:20px 0;
}

.civil-box p {
    min-height: 80px;
}

.pan-main{
    margin-top: 70px;
}

.pan-main li{
    margin-top: 30px;
}

.service ul li .img {
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    height: 105px;
    width: 105px;
    overflow: hidden;
    margin-bottom: 10px;
}

.service ul li a {
    height: 185px;
    width: 144px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service ul li .img img {
    height: 110px;
    width: 110px;
    object-fit: cover;
}


.service ul{
    column-gap: 20px;
    margin:70px 0;
    row-gap: 20px;
}

.service ul.ser-box li:first-child a{
    background: #FCC733;
}

.service ul.ser-box li a p{
    color: var(--black);
}

.service ul.ser-box li:last-child a{
    background: #EE7EE7;
}

.service ul.ser-box li:nth-child(2) a{
    background: #849DEF;
}

.service ul.ser-box li:nth-child(3) a{
    background: #F9A159;
}

.service ul.ser-box li:nth-child(4) a{
    background: #47CC9A;
}

.service ul.ser-box li:nth-child(5) a{
    background: #9FCFF9;
}

.service ul.ser-box li:nth-child(6) a{
    background: #44E4E4;
}

.service ul.ser-box li:nth-child(7) a{
    background: #F4656C;
}

.service nav button {
    border: none!important;
    background: var(--gray)!important;
    margin: 15px 0;
    border-radius: 8px!important;
    padding: 14px 30px;
    color: #5E5F61!important;
    width: 100%;
    height: 84px;
}

.service nav button.active{
    background: #3A5EFA!important;
    color: #fff!important;
}

#nav-tabContent{
    padding: 15px 0;
}

#nav-tabContent li {
    background: var(--gray);
    border-radius: 8px;
    padding: 25px;
    border: 1px solid #E7E7E7;
    width: calc(25% - 15px);
    height: 200px;
    text-align: center;
}

#nav-tabContent li:last-child a{
    color: #3A5EFA;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

#nav-tabContent li:last-child{
    display: flex;
    align-items: center;
}


.other{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(22,182,240,0.7819502801120448) 0%, rgba(255,255,255,1) 48%, rgba(78,205,184,0.773546918767507) 100%);
}

.bcp-main{
    margin-top: 80px;
}

.bcp-box{
    background: url('../images/Background_1.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 20px;
}

.mobile{
    background: url('../images/mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 40px;
    border-radius: 20px;
}

.vista{
    background: #3089F7;
}

.vista-box{
    padding: 40px;
    border-radius: 20px;
    margin-top: 70px;
    position: relative;
}

.vista-box .img{
    background: #F7F7F7;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin:10px 0;
}

.vista-box h4, .vista-box p{
    margin:10px 0;
}

img.vista-bg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.why-choose h4, 
.vista h4, 
.price h4,
.addon h4,
.faqs h4,
.testimonial h4{
    font-weight: 900;
}

.vista-box.shadow {
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 5px 25px rgba(0,0,0,.15)!important;
}


.vista-box.shadow .img{
    height: 65px!important;
    width: 65px!important;
}

.vista-box.shadow .img img{
    width: 35px;
}

.vista-box.shadow hr{
    background: #482CFD;
    height: 1.5px;
    margin:20px 0;
    width: 80px;
}

h3 span{
    font-size: 24px;
}

.price{
    background: #F7F7F7;
}
.addon-box {
    background: var(--gray);
    border-radius: 8px;
    padding: 30px;
    height: 110px;
    margin-top: 60px;
    display: grid;
    place-items: center;
}

.addon-box a{
    text-decoration: underline;
}

.addon h3{
    line-height: 42px;
}

h6{
    font-size: 32px;
    font-weight: 700;
}

.faqs h6{
    margin-top: 70px;
}


.accordion {
     margin-top: 40px;
}
 .accordion .card {
     border: none;
     margin-bottom: 20px;
}
.accordion .card p {
    background: #E8F2FF url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px);
    background-size: 20px;
    background-position: calc(100% - 20px) 24px;
    cursor: pointer;
    font-size: 18px;
}
 .accordion .card p.collapsed {
     background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
}
 .accordion .card-body {
     padding-left: 0;
     padding-right: 0;
}

.card-head p{
/*    background:!important;*/
    padding: 20px 30px;
    border-radius: 6px 6px 0 0;
}

.card-head p.collapsed{
    border-radius: 6px;
}

.accordion .collapse {
    background: #F6F6F6;
    border-radius: 6px;
}

.accordion .card-body{
    padding: 20px 30px!important;
    background: #F6F6F6;
}

.accordion .collapse.show{
    border-radius:0 0 6px 6px;
}

.how-to{
    background: #18D9F1;
}

.testimonial{
    background: url('../images/background-test.jpg') no-repeat; background-size: cover;
      background-position: center;
}

.client-feedback-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.client-details {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1.25rem;
}

.client-thumb {
    width: 70px;
    border-radius: 130px;
    overflow: hidden;
    height: 70px;
}

.client-details h6{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
.client-details p{
    color: #626262;
    font-size: 14px;
}
.client-feedback-box p{
    color: #626262;
    font-size: .95rem;
    line-height: 1.6;
    font-weight: normal;
}

.account-box{
    background: #3089F7;
    border-radius: 8px;
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


footer{
    background: #0F1018;
}

footer a, footer li, .footer-bottom p{
    color: #D9D9D9!important;
    font-size: 16px;

}

footer li{
    margin-top: 20px;
}


.price ul li a{
    border-radius: 9px;
    background: #3089F7;
    width: 230px;
    height: 55px;
    display: grid;
    place-items: center;
    margin-top: 70px;
    color: #fff;
    font-weight: 700;
}

table.table.bl-table.table-striped {
    vertical-align: middle;
}

.head {
    height: 55px;
    background: #6897D4;
    border-radius: 5px 5px 0 0;
    display: grid;
    place-items: center;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}

.table>:not(caption)>*>* {
    padding: 18px;
    background-color: #E8F2FF;
    border-bottom-width: 0px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(255 251 251);
    color: var(--bs-table-striped-color);
}

table.table.bl-table.table-striped td {
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    width: 20%;
}

table a{
    font-weight: 700;
    color: #354BD4;
}

.price p{
    font-weight: 400!important;
}

.price p b{
    font-weight: 500!important;
}

ul.list-disc {
    padding-left: 25px;
    list-style-type: disc;
}

.how-to .vista-box p {
    min-height: 60px;
}

.frst {
    display: flex;
    column-gap: 30px;
    margin: 20px 0;
    align-items: end;
}

.frt{
    margin-bottom: 60px;
}





/**/

.create-account{
    background: var(--gray);
    margin-top: 70px;
}

.create-ac-box{
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    border-radius: 20px;
    background: #fff;
    padding: 60px;
}

.create-ac-box h3 {
    font-size: 29px;
    color: #020202;
    font-weight: 600;
}

.create-ac-box label {
    font-size: 19px;
    color: #020202;
    font-weight: 600;
}

form input{
    background: #F0F0F0!important;
    border-radius: 10px;
    border: none!important;
    height: 55px;
    padding: 20px!important;
    color: #656565!important;
}

.bg-light{
    background: var(--gray)!important;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")!important;
}

.form-check-input:checked {
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}

.form-check-input{
    padding: 10px!important;
}

label span{
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
    text-align: left;
}


label span a{
    font-size: 16px;
}

.dashoard{
    padding: 50px;
    background: var(--gray);
    margin-top: 70px;
}

.dashoard .nav {
    row-gap: 30px;
}

.dashoard nav .nav-link{
    background: #fff;
    border-radius: 6px;
    border: none;
    column-gap: 12px;
    height: 55px;
    align-items: center;
    justify-content: start;
    color: #656565;
    font-size: 18px;
}

.dashoard .cont-box {
    background: #fff;
    border-radius: 6px;
    padding: 30px;
    row-gap: 15px;
    min-height: 385px;
}

.dashoard .cont-box p span{
    color: var(--lightblue);
}

.bl-gap-row{
    row-gap: 30px;
}

.bl-gap-row h4{
    margin-bottom: 22px;
}

.dashoard .cont-box a{
    background: var(--lightblue);
}

.dashoard .cont-box p strong{
    color: #5E5F61;
    font-weight: 500;
}

.bl-gap-row h4.bx {
    margin-bottom: 22px;
    background: #DDEDFB;
    border-radius: 6px;
    padding: 15px;
}

.dashoard .cont-box button{
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    margin:10px 0;
    font-weight: 600;
    color: var(--black);
}

.dashoard .cont-box button:first-child{
    background: #DDEDFB;
}

.dashoard .cont-box button:nth-child(2){
    color: #656565;
}

.dashoard .cont-box h4 span{
    font-weight: 300;
    font-size: 18px;
}

.text-light-dark{
    color: #656565!important;
}

.dashoard .badge{
    display: grid;
    place-items: center;
}

.dashoard .cont-box2{
     background: #fff;
    border-radius: 6px;
    padding: 30px;
    min-height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.light-orange{
    background: #CDC3FF!important;
}

.bg-primary{
    background: #2D8DF6!important;
}

.box-green{
    background: #93E3B8!important;
}

.dash-head h4{
    font-size: 32px;
    font-weight: 700;
}

.blue-badge{
    height: 35px;
    width: 35px;
    color: #7264B8;
    border-radius: 50%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.cont-box2 p span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.lit-grn{
    background: #D4FFD3!important;
}

.drk-grn{
    background: #20C504!important;
}

.lgt-blue{
    background: #D3F1FF!important;
}

.drk-blue{
    background: #04A1C5!important;
}

.lgt-red{
    background: #FFD3D3!important;
}

.drk-red{
    background: #C50604!important;
}

.dash-box{
    border-radius: 6px;
    padding: 30px;
    background: #DDEDFB;
}

.dash-box .media{
    margin-top: 30px;
}

.dash-box .img{
    height: 85px;
    width: 85px;
    background: #fff;
    border-radius: 50%;
    margin-right:20px ;
    display: flex;
    align-items: center;
     justify-content: center;
}

.blg-box{
    row-gap: 20px;
    padding: 0 20px;
}

.blg-box a{
    text-decoration: underline;
}